

.wrapmiddel {
	width: 966px;
	height: 1100px;
	margin-left: 200px;
}

div.sidebar {
	float: left;
	width: 256px;
}

div.body {
	float: right;
	width: 710px;
}

iframe {
	width: 100%;
	border: none;
	height:950px;
}

.style1 {
	color: red;
}

.style2 {
	color: red;
}

#diaryuser {
	border: 1px solid black;
	border-collapse: collapse;
	 width: 95%;
/* 	    margin-left: 5px; */
	width: 710px;
}

table#diaryuser th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}
table#diaryuser td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}